body {
    background: #fefefe;
    font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
    font-size: 15pt;
  }
  
  main {
    max-width: 75%;
    margin: auto;
  }
  
  header {
    border-bottom: 1px solid #afafaf;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #333;
    margin-bottom: 5px;
  }
  
  h1 {
    font-size: 2rem;
  }
  
  h2 {
    font-size: 1.75rem;
  }
  
  h3 {
    font-size: 1.5rem;
  }
  
  h4 {
    font-size: 1.25rem;
  }
  
  h5 {
    font-size: 1.15rem;
  }
  
  h6 {
    font-size: 1.05rem;
  }
  
  p {
    font-size: 1rem;
    line-height: 2;
  }
  
  .post {
    width: 75%;
    border-bottom: 1px dashed #333;
  }
  
  .error {
    color: red;
    font-weight: bold;
  }
  #welcome {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  #signupDate {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  #lastLogin {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  #quote {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 20px;
  }
  .top-toolbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.top-toolbar li {
    display: inline;
}

.top-toolbar a {
    text-decoration: none;
    font-weight: bold;
}
